.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
}

/* ------------- IMAGES------------------ */

.container-img {
    width: 50%;
    display: inline-flex;
    padding-bottom: 30px;
}

img {
    width: 100%;
}

.img-bike {
    width: 50%;
    position: relative;
    left: 25%;
}

.img-jtree {
    width: 25%;
    position: relative;
    left: 16%;
    top: 5px;
}

.img-persia {
    width: 25%;
    position: relative;
    top: 89px;
    right: 68%;
}

/* ----------------ABOUT ME--------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-about {
    font-size: 30px;
}

.container-about-text {
    width: 65%;
}

.text {
    text-align: left;
    font-size: 20px;
    text-indent: 3%;
}