.container-about {
    padding-top: 65px;
    padding-bottom: 150px;
}

/* ------------- IMAGES------------------ */

.about-animated {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img {
    width: 50%;
    display: inline-flex;
    padding-bottom: 30px;
}

.container-img img {
    width: 100%;
    box-shadow: -7px 7px 16px black;

}

.img-bike {
    width: 50%;
    position: relative;
    left: 25%;
}

.img-jtree {
    width: 25%;
    position: relative;
    left: 16%;
    top: 5px;
}

.img-persia {
    width: 25%;
    position: relative;
    top: 89px;
    right: 68%;
}

/* ----------------ABOUT ME--------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-about {
    font-size: 30px;
}

.container-about-text {
    width: 65%;
}

.text {
    text-align: left;
    font-size: 20px;
    text-indent: 3%;
}

/* ------------ MOBILE------------ */

@media only screen and (max-width: 800px) {

    .container-img {
        width: 100%;
    }

    .img-jtree {
        display: none;
    }   
    
    .img-persia {
        width: 100%;
        position: relative;
        top: 30px;
        right: 43%;
    }

    .img-bike {
        width: 100%;
        position: relative;
        left: 48%;
    }
}