.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding-top: 200px;
}

.home {
    padding-bottom: 200px;
}

.animated-intro {
    width: 50%;
}

.intro {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

.intro-sub {
    font-size: 30px;
}

span {
    text-decoration: underline;
}

.arrow {
    padding-bottom: 150px;
}

.material-icons { 
    font-size: 100px; 
}
/* -------------- PROJECTS------------- */

.projects {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    display: block;
    padding-bottom: 50px;
}

.project-container {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.project-ex {
    display: inline;
}
