.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding-top: 120px;
}

.home {
    width: 50%;
    animation: fadeAndScale 1s cubic-bezier(.84,.2,.41,1.11);
    transform-origin: center top;
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.intro {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

.intro-sub {
    font-size: 30px;
}

span {
    text-decoration: underline;
}