.projects {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding-bottom: 150px;
    margin: auto;
}

.title {
    display: block;
    padding-bottom: 50px;
    font-size: 30px;
    padding-right: 30px;
}

.project-title {
    margin-bottom: 3px;
}

.lang {
    font-size: 12px;
    padding-bottom: 10px;
    margin: 0px;
    font-style: italic;
}

.project-container {
    display: flex;
    width: 75%;
    padding-bottom: 20px;
}

.project-ex {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-bottom: 1px solid black;
   margin-left: 22px;
   padding-bottom: 12px;
}

.project-ex img {
    width: 90%;
}

.view-button {
    text-decoration: none '!important';
}

.bottom {
    width: 40%;
}
